In [5]:
import pandas as pd

df = pd.read_csv("../data/processed/cleaned_financials.csv")

In [6]:

# Year-over-Year Growth
df["Revenue_Growth"] = df.groupby("Company")["Revenue"].pct_change() * 100
df["Profit_Growth"] = df.groupby("Company")["NetIncome"].pct_change() * 100

In [7]:

# Financial Ratios
df["Profit_Margin"] = (df["NetIncome"] / df["Revenue"]) * 100
df["Debt_Ratio"] = (df["Liabilities"] / df["Assets"]) * 100

In [8]:

df

,Company,Year,Revenue,NetIncome,Assets,Liabilities,CashFlow,Revenue_Growth,Profit_Growth,Profit_Margin,Debt_Ratio
0,Apple,2000,142371.05,33172.24,384019.84,145163.08,29125.13,NaN,NaN,23.299849,37.800932
1,Apple,2000,120078.27,32006.15,324479.10,212221.10,25934.33,-15.658225,-3.515259,26.654406,65.403627
2,Apple,2000,142850.44,36871.22,274941.13,107477.92,32878.15,18.964439,15.200422,25.811065,39.091248
3,Apple,2000,126225.89,22870.76,298384.13,132964.32,25293.37,-11.637731,-37.971242,18.118914,44.561458
4,Apple,2000,122111.43,15024.12,272641.07,143964.03,17917.59,-3.259601,-34.308611,12.303615,52.803501
...,...,...,...,...,...,...,...,...,...,...,...
4995,Oracle,2024,433241.96,100481.93,990919.97,717236.68,126620.20,4.732766,99.489750,23.193028,72.380889
4996,Oracle,2024,410740.07,42609.40,1368415.19,540167.95,35119.16,-5.193839,-57.594963,10.373811,39.473981
4997,Oracle,2024,394473.26,91415.86,1320123.78,816685.10,116639.26,-3.960366,114.543880,23.174159,61.864282
4998,Oracle,2024,376206.94,24524.34,1018912.81,797867.99,25783.93,-4.630560,-73.172773,6.518843,78.305816
4999,Oracle,2024,373032.84,39282.10,742180.84,348029.80,32282.09,-0.843711,60.175972,10.530467,46.892857